body{
        background-color: #3B3B3B;
        font-size: 40px;
        font-weight: bold;
        color: #4CAF50;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
}
.nav_bar{
        background-color: #222222;
        font-size: 20px;
        font-weight: bold;
        color: #4CAF50;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
        text-align: center;

        display: flex;
        gap: 20px;
        display: block;
        padding: 15px 25px;
        border: 2px solid black;
        text-decoration: none;
        background-color: white;
        border-radius: 8px;
}
